{% block extrajstop %}
<script type="text/javascript">
$(document).ready(function(){

    // checked/unchecked event
    $(":checkbox").change(function()
    { 
        q = $(this).val()
        if($(this).is(':checked'))
        {
            $.getJSON( '{% url register %}?q=' + q , function(data) {
                     if(data != true){alert(data)}});
        }
        else
        {
            $.getJSON( '{% url withdraw %}?q=' + q , function(data) {
                     if(data != true){alert(data)}});
        }
    
        $( '#id_barcode').focus() 
    });

});
</script>
{% endblock extrajstop %}   

{% if students|length %}
	<table>
	<tr class='even'> 
		<td colspan="9" class="right">
		<strong>Found {{ students|length }} student{{ students|pluralize }}</strong>
		</td>
	</tr>
    <div class="students">    
        <table>
            <thead>
                <tr>
                    <th id="stud_th">StudentID</th>
                    <th id="stud_th">LastName</th>
                    <th id="stud_th">FirstName</th>
                    <th id="stud_th">Gender</th>   
                    <th id="stud_th">Year</th>    
                    <th id="stud_th">School</th>
                    <th id="stud_th">Status</th>
                </tr>
            </thead>
            <tbody id="students_table">
	            {% for user in students %}
	            <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ user.0 }}</td>
                    <td>{{ user.1 }}</td>
                    <td>{{ user.2 }}</td>
                    <td>{{ user.3 }}</td>
                    <td>{{ user.4 }}</td>
                    <td>{{ user.5 }}</td>
                    {% if user.6 != null %}
                    <td><input type='checkbox' id="{{ user.0 }}" {% if request.session.event_id == null %}disabled="disabled"{% endif %} checked='checked' value="{{ user.0 }}"/><span>{{ status }}</span></td>
                      {% else %}
                    <td><input type='checkbox' id="{{ user.0 }}"  {% if request.session.event_id == null %}disabled="disabled"{% endif %} value="{{ user.0 }}"/></td>
                    {% endif %} 
                </tr>
	            {% endfor %}
        </table>
    </div>
{% else %}
	<div class="note">
        {{ message }}
	</div>
{% endif %}